// Resize-specific breakpoint.

@media (max-width: 1502px) {
    .contact-section {
        form {
            input[type=text], input[type=email] {
                width: 250px;
            }
            textarea {
                width: 300px;
            }
        }
    }
}

@media (max-width: 1400px) {
    header {
        height: 100vh;

        .logo-box, .box0 {
            width: 150px;
            height: 150px;

            h2 {
                font-size: 2rem;
            }
        }

        .header-grid {
            margin-left: 150px;
            margin-top: 75px;
            grid-template-columns: repeat(6, 150px);
            grid-template-rows: repeat(3, 150px);

            .box {
                p {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

// Netbook specific breakpoint.

@media (max-width: 1280px) {
    header {
        .header-grid {
            margin-left: 0;
            margin-top: 0;
        }
    }

    .contact-section {
        form {
            input[type=text], input[type=email] {
                width: 200px;
            }

            textarea {
                width: 240px;
            }

            input[type=submit] {
                width: 160px;
            }
        }
    }
}

// Responsive for iPads in landscape. 

@media (max-width: 1024px) {
    header {
        .logo-box {
            width: 120px;
            height: 120px;

            img {
                margin-top: 10px;
            }
        }

        .header-grid {
            margin-top: 120px;
            grid-template-columns: repeat(6, 120px);
            grid-template-rows: repeat(3, 120px);
            margin-left: 30px;

            .box1 {
                h1 {
                    font-size: 3rem;
                }
            }

            .box {
                .icon {
                    margin-top: 30px;
                }
            }
        }
    }

    section {
        h2 img {
            width: 9%;
        }
    }

    .skills-section {
        h2 {
            img {
                width: 6%;
            }
        }
    }

    .contact-section {
        form {
            input[type=text], input[type=email] {
                width: 170px;
            }
            textarea {
                width: 350px;
                margin-bottom: 10px;
            }
            input[type=submit] {
                width: 350px;
            }
        }
    }
}

// Responsive for iPad in portrait.

@media (max-width: 768px) {
    header {
        .logo-box {
            width: 195px;
            height: 195px;

            img {
                margin-top: 20px;
            }

            h2 {
                font-size: 2.5rem;
            }
        }
        
        height: 100vh;
        background-position: left;

        .wrapper {
            padding-bottom: 0;
        }

        .header-grid {
            margin-top: 140px;
            grid-template-columns: repeat(4, 120px);
            grid-template-rows: repeat(4, 120px);

            .box1 {
                grid-column: 1 / span 3;
            }

            .box12 {
                grid-row: 3;
                grid-column: 4;
            }

            .box4 {
                grid-row: 2;
                grid-column: 3;
            }

            .box5 {
                grid-row: 2;
                grid-column: 2;
            }

            .box10 {
                grid-column: 1;
            }
        }
    }

    .nav-wrapper {
        nav {
            width: 90%;

            ul {
                padding-left: 15px;
                align-items: center;

                li {
                    margin-bottom: 10px;
                    margin-right: 50px;
                    font-size: 1.5rem;

                    img {
                        width: 15px;
                    }

                    &:first-of-type {
                        font-size: 3rem;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    section {
        h2 img {
            width: 10%;
        }
    }

    .about-section {
        &__container {
            width: 90%;
        }

        &__image {
            width: 40%;
            margin-top: 30px;
        }

        &__description {
            width: 60%;
        }
    }

    .skills-section {
        &__container {
            width: 90%;
        }

        h2 {
            img {
                width: 7.5%;
            }
        }
    }

    .portfolio-section {
        &__container {
            width: 90%;
        }
    }

    .contact-section {
        &__container {
            width: 90%;
        }

        form {
            input[type=text], input[type=email] {
                width: 350px;
            }

            textarea {
                height: 69px;
            }

            input[type=submit] {
                width: 250px;
                height: 70px;
            }
        }
    }
}

// Responsive for iPhone+ variants.

@media (max-width: 414px) {
    header {
        height: auto;
        background-image: none;
        background: $white;

        .wrapper {
            width: 100%;
            padding-bottom: 0;
        }

        .logo-box {
            display: none;
        }

        .header-grid {
            margin: 0;
            padding: 0;
            grid-template-columns: repeat(4, 103.5px);
            grid-template-rows: 103.5px;

            .box0 {
                display: block;
                width: 100%;
                height: auto;

                img {
                    width: 90%;
                    margin-top: 5px;
                }
            }

            .box1, .box2, .box3, .box4, .box5, .box6, .box10, .box11, .box12, .box13, .box14, a {
                display: none;
            }

            .box {
                p {
                    font-size: 1.5rem;
                }
            }

            .box8 {
                .icon {
                    margin-top: 20px;
                }
            }
        }


    }

    .nav-wrapper {

        nav {
            width: 100%;

            ul {
                justify-content: flex-start;
                align-items: center;
                padding-left: 45px;

                li {
                    font-size: 1.0rem;
                    padding-bottom: 10px;
                    margin-right: 0;

                    &:first-of-type {
                        font-size: 1.4rem;
                        margin-left: -20px;
                        width: 425px;
                        padding-bottom: 0;
                    }

                    img {
                        width: 20%;
                    }
                }
            }
        }
    }

    main {
        .top-link {
            position: fixed;
            bottom: 45px;
            right: 20px;
            width: 40px;
            height: 40px;
            z-index: 1000;

            img {
                width: 40%;
            }
            
            p {
                font-size: 1.2rem;
            }
        }
    }

    section {
        h2 img {
            width: 10%;
        }
    }

    .about-section {
        padding-top: 10px;
        padding-bottom: 10px;
        &__container{
            width: 100%;
            flex-direction: column;
        }

        &__image {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 20px;
        }

        &__description {
            width: 80%;
            margin: 0 auto;
            padding-right: 10px;

            h2 {
                margin-top: 10px;
                margin-bottom: 5px;
            }
        }
    }

    h2 {
        font-size: 2.8rem;
    }

    p {
        font-size: 1.2rem;
    }

    .skills-section {
        margin-bottom: 30px;

        &__container {
            width: 95%;
        }

        h2 {
            img {
                width: 7%;
            }
        }

        p {
            font-size: 1.4rem;
        }

        &__grid {
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-gap: 5px;

            margin-top: 30px;

            &__box img {
                height: 3rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    .portfolio-section {
        background: $offblue;
        color: $white;
        padding-top: 40px;
        padding-bottom: 10px;
    
        &__container {
            width: 95%;
            margin: 0 auto;
        }
    
        &__grid-new__box--description > p {
            display: none;
        }
    
        &__grid-new {
            margin: 0 auto;
            width: 85%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
            grid-gap: 20px;
    
            &__box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 20px;
    
                &--image {
                    width: 45%;
                    margin-top: 5%;
                    padding-left: 3%;
    
                    img {
                        width: 100%;
                    }
                }
    
                &--description {
                    width: 55%;
                    padding-right: 5%;
                }
    
                h3 {
                    @include fontStyle(30, $bebasneue);
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
    
                h4 {
                    margin-top: 0;
    
                    @include fontStyle(14, $opensans);
                }
    
                p {
                    @include fontStyle(18, $opensans);
                }
    
                a {
                    color: $offblue;
                    transition: 0.6s all ease;
            
                    &:hover {
                        color: $white;
                    }
            
                    .button {
                        width: 60px;
                        height: 60px;
                        background: $white;
                        border: 1px $white solid;
                        transition: 0.6s all ease;
                        text-align: center;
                        float: left;
                        margin-right: 10px;
            
                        h4 {
                            font-size: 2.5rem;
                            padding-top: 5px;
                            margin: 0;
                        }
            
                        p {
                            font-size: 0.9rem;
                            margin-top: -3px;
                        }
            
                        &:hover {
                            background: $offblue;
                        }
                    }
                }
            }
    
            &__box1, &__box3, &__box5 {
                background: $darkblue;
                color: $skyblue;
    
                a {
                    color: $darkblue;
    
                    .button {
                        background: $skyblue;
                        border: 1px solid $skyblue;
    
                        &:hover {
                            background: $darkblue;
                            color: $skyblue;
                        }
                    }
                }
            }
    
            &__box2, &__box4, &__box6 {
                background: $skyblue;
                color: $darkblue;
    
                a {
                   color: $skyblue; 
    
                    .button {
                        background: $darkblue;
                        border: 1px solid $darkblue;
    
                        &:hover {
                            background: $skyblue;
                            color: $darkblue;
                        }
                    }
                }
            }
        }
    }
    

    .contact-section {
        margin-bottom: 15px;

        &__container {
            width: 95%;
        }

        &-wrapper {
            p {
                font-size: 1.2rem;
            }

            img {
                width: 25px;
            }
        }

        form {
            input[type=text] {
                width: 100px;
                height: 30px;
            }

            input[type=email] {
                width: 100px;
                height: 30px;
            }
            
            textarea {
                width: 215px;
                padding-top: 5px;
            }

            input, textarea {
                font-size: 1.2rem;
                padding-left: 5px;
            }

            input[type=submit] {
                width: 155px;
                height: 45px;
                margin-top: 10px;
                font-size: 1.8rem;
            }
        }
    }

    footer {
        padding: 5px 0;

        p {
            font-size: 1rem;
        }

        .footer-wrapper {
            width: 95%;

            img {
                width: 7.5%;
            }
        }

        .footer-copyright {
            width: 100%;
            margin-right: -50px;
            padding-top: 0;
        }
    }
}

// Responsive design for Google Nexus 6

@media (max-width: 412px) {
    header {
        .header-grid {
            grid-template-columns: repeat(4, 103px);
            grid-template-rows: 103px;
        }
    }
}

// Responsive design for Google Nexus 4.

@media (max-width: 384px) {
    header {
        height: auto;
        .header-grid {
            grid-template-columns: repeat(4, 96px);
            grid-template-rows: 96px;

            .box8 {
                .icon {
                    margin-top: 17.5px;
                }
            }
        }

    }

    .nav-wrapper {
        nav {
            ul {
                li {
                    margin-left: -15px;
                    &:first-of-type {
                        margin-left: -30px;
                    }
                    &:last-child {
                        margin-left: 5px;
                    }
                }
            }
        }
    }
    
    .about-section {
        &__image {
            margin-top: 45px;
        }
    }

    .contact-section {
        form {
            input[type=text], input[type=email] {
                width: 90px;
            }

            input, textarea {
                font-size: 1.1rem;
            }

            textarea {
                width: 193px;
            }

            input[type=submit] {
                width: 145px;
            }
        }
    }
}

// Responsive design for iPhone starting with 6.

@media (max-width: 375px) {
    header {
        .header-grid {
            margin: 0;
            padding: 0;
            grid-template-columns: repeat(4, 93.75px);
            grid-template-rows: 93.75px;
        }
    }

    .nav-wrapper {
        nav {
            ul {
                li {
                    margin-left: -15px;
                    &:first-of-type {
                        margin-left: -30px;
                    }
                    &:last-child {
                        margin-left: 5px;
                    }
                }
            }
        }
    }

    .about-section {
        &__image {
            margin-top: 55px;
        }
    }

    .contact-section {
        &-wrapper {
            p {
                font-size: 1.1rem;
            }
        }
        form {
            input[type=text] {
                width: 90px;
                margin-right: 5px;
                margin-bottom: 5px;
            }

            input[type=email] {
                width: 90px;
                margin-bottom: 5px;
            }

            textarea {
                width: 190px;
            }

            input[type=submit] {
                width: 140px;
            }
        }
    }
}

// Responsive design for Samsung Galaxy Phones.

@media (max-width: 360px) {
    header {
        height: auto;

        .header-grid {
            margin: 0;
            padding: 0;
            grid-template-columns: repeat(4, 90px);
            grid-template-rows: 90px;
        }
    }

    .nav-wrapper {
        nav {
            ul {
                li {

                    margin-left: 15px;
                    &:first-of-type {
                        margin-left: -35px;
                    }

                    &:last-child {
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    .about-section {
        &__image {
            margin-top: 60px;
        }
    }
    .contact-section {
        form {
            input[type=text], input[type=email] {
                width: 85px;
            }

            textarea {
                width: 180px;
            }

            input[type=text], input[type=email], textarea {
                font-size: 1.1rem;
            }

            input[type=submit] {
                width: 130px;
            }
        }
    }

    footer {
        .footer-copyright {
            margin-right: -300px;
        }
    }
}

// Responsive design for iPhone 5 and lower.

@media (max-width: 320px) {
    header {
        .header-grid {
            grid-template-columns: repeat(4, 80px);
            grid-template-rows: 80px;
            margin: 0;
            padding: 0;
            .box0 {   
                h2 {
                    font-size: 1.4rem;
                }
            }

            .box8 {
                p {
                    font-size: 1.2rem;
                    margin-top: 10px;
                }
            }
        }

    }
    .nav-wrapper {
        nav {
            ul {
                li {
                    font-size: 1rem;

                    &:first-of-type {
                        margin-left: -35px;
                    }
                }
            }
        }
    }

    .about-section {
        &__image {
            margin-top: 80px;
        }
    }

    .contact-section {
        form {
            textarea {
                width: 155px;
            }
            input[type=text], input[type=email] {
                width: 155px;
            }

            input[type=submit] {
                width: 110px;
            }
        }
    }

    footer {
        .footer-copyright {
            margin-right: -100px;
        }
    }
}