@import 'setup';
@import 'utils';
@import 'typography';

body {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background: $white;
}

.jumpTo {
    position: absolute;
    top: 0;
    left: -500px;
    width: 100px;
    height: 100px;
}

header {
    background-repeat: no-repeat;
    background-position: top center;
    height: 100vh;
    position: relative;

    .language-select {
        position: absolute;
        top: 3%;
        right: 12.5%;

        select {
            background: $skyblue;
            border-radius: 0;
            border: none;
            color: $darkblue;
            padding: 5px 10px;
            text-align: center;
        }
    }

    .wrapper {
        width: 70%;
        margin: 0 auto;
        padding-bottom: 195px;
    }

    .logo-box, .box0 {
        width: 195px;
        height: 195px;
        background: $skyblue;
        text-align: center;

        img {
            margin-top: 20px;
            width: 50%;
        }
        
        h2 {
            color: $darkblue;
            @include fontStyle(25, $bebasneue);
        }
    }

    .header-grid {
        display: grid;
        grid-template-columns: repeat(6, 195px);
        grid-template-rows: repeat(3, 195px);
        
        
        .box {
            width: 100%;
            height: 100%;
            text-align: center;
            transition: all 0.5s ease;

            p {
                font-size: 1.8rem;
            }

            img {
                width: 100%;
            }

            .icon {
                margin-top: 30%;
                width: 25%;
                height: auto;
            }
        }

        .box0 {
            display: none;
        }

        .box1 {
            grid-column: 1 / span 4;
            text-align: right;
            padding-right: 30px;
            text-shadow: 0px 0px 8px #222;

            p {
                color: white;
            }
        }

        .box2, .box5, .box13 {
            background: $mediumblue;
            

            &:hover {
                z-index: 10;
                transform: scale(1.1);
                box-shadow: 0px 0px 10px 3px $white;
                background: darken($mediumblue, 5);
            }
        }

        .about-link, .skills-link, .contact-link {
            color: $skyblue;
        }

        .box6 {
            background: $skyblue;

            &:hover {
                z-index: 10;
                transform: scale(1.1);
                box-shadow: 0px 0px 10px 3px $white;
                background: darken($skyblue, 10);
            }
        }

        .portfolio-link, .blog-link {
            color: $darkblue;
        }

        .box8, .box12 {
            background: $offblue;

            p {
                color: $skyblue;
            }
        }


        .box10 {
            grid-column: 1 / span 2;
        }
    }
}

.nav-wrapper {
    position: sticky;
    top: 0;
    z-index: 30;
    display: block;
    background: $darkblue;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;
    box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.75);

    nav {
        width: 70%;
        margin: 0 auto;

        ul {
            margin: 0;
            display: flex;
            justify-content: space-between;

            li {
                margin-top: 5px;
                list-style-type: none;
                @include fontStyle(30, $opensans);
                
                &:first-of-type {
                    color: $skyblue;
                    @include fontStyle(48, $bebasneue);
                }

                img {
                    margin-top: 12.5px;
                    width: 30px;
                }

                a {
                    color: $skyblue;
                    transition: 0.5s all ease;

                    &:hover {
                        border-bottom: 2px solid $skyblue;
                    }
                }
            }
        }
    }
}

main {
    position: relative;

    .top-link {
        width: 70px;
        height: 70px;
        background: $darkblue;
        color: $skyblue;
        text-align: center;
        z-index: 100;

        img {
            margin-top: 5px;
            width: 50%;
        }

        p {
            @include fontStyle(18, $bebasneue);
            margin: 0;
        }
    }
}

section {
    width: 100%;
    height: 100vh;

    h2 img {
        width: 5.5%;
    }
}

.destination {
    position:absolute;
    z-index:-1;
    left:0;
    margin-top:-64px;
}

.about-section {  
    background: $offblue;
    color: $white;


    &__container {
        margin: 0;
        width: 85%;
        display: flex;
        justify-content: flex-start;
    }

    &__image {
        width: 49.05%;

        img {
            width: 100%;
            display: block;
        }
    }

    &__description {
        width: 50.95%;
        margin-left: 5%;
    }
}

.skills-section {
    margin-bottom: 50px;
    height: 120vh;

    &__container {
        margin: 0 auto;
        width: 70%;
    }

    h2 {
        padding-top: 15px;
        margin-bottom: 5px;

        img {
            width: 3.5%;
        }
    }

    p {
        font-size: 2.5rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(5, 1fr);
        margin-top: 60px;
        text-align: center;
        height: 70vh;


        img {
            width: 40%;

            &.gulp-image {
                width: 16%;
            }
            &.sass-image {
                width: 48%;
            }

            &.firebase-image {
                width: 27%;
            }

            &.osx-image {
                width: 32.5%;
            }

            &.linux-image {
                width: 33%;
            }
        }

        &__box13 {
            img {
                width: 50%;
            }
        }

        &__box14 img {
            width: 38%;
        }

        &__box15 img {
            width: 43%;
        }

        &__box16 img {
            width: 43.5%;
        }

        p {
            font-size: 18px;
        }
    }
}

.portfolio-section {
    @extend .skills-section;
    background: $offblue;
    color: $white;
    padding-top: 40px;
    padding-bottom: 50px;

    &__container {
        width: 70%;
        margin: 0 auto;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 40px;
    }

    p {
        font-size: 20px;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 4.5fr;
        grid-template-rows: repeat(3, 1fr);

        img {
            width: 100%;
            display: block;
        }

        &__box-big {
            grid-column-start: 2;
            grid-row: 1 / span 3;
            text-align: left;
            padding-left: 20px;
            overflow: hidden;
            position: relative;
        }

        &__box {
            overflow: hidden;
            position: relative;
            width: 195px;
            height: 195px;
            z-index: 20;

            .portfolio-slider {
                transition: 0.6s all ease;
            }

            .portfolio-title {
                width: 195px;
                height: 195px;
                text-align: center;
                background: $darkblue;
                color: $skyblue;
                position: absolute;
                top: 0;
                left: 195px;

                h3 {
                    font-size: 1.8rem;
                }

                img {
                    width: 30%;
                    padding-top: 45px;
                    margin: 0 auto;
                }
            }
        }
    }
}

.portfolio-first-screen img {
    width: 10%;
    margin-left: 20px;
    margin-top: 50px;

    &.upArrow {
        display: none;
    }
}

.portfolio-first-screen, .portfolio-notez, .portfolio-bikeshare, .portfolio-twitchfinder {
    width: 100%;
    height: 100%;
    transition: 0.6s all ease;
}

.portfolio-notez, .portfolio-bikeshare, .portfolio-twitchfinder {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 100%;
    background: $offblue;
    padding-left: 20px;

    h3 {
        @include fontStyle(36, $bebasneue);
    }

    a {
        color: $offblue;
        transition: 0.6s all ease;

        &:hover {
            color: $white;
        }

        .button {
            width: 100px;
            height: 100px;
            background: $white;
            border: 1px $white solid;
            transition: 0.6s all ease;
            text-align: center;
            float: left;
            margin-right: 10px;

            h4 {
                font-size: 2.5rem;
                padding-top: 15px;
                margin: 0;
            }

            p {
                font-size: 1.4rem;
            }

            &:hover {
                background: $offblue;
            }
        }
    }
}

.contact-section {
    @extend .skills-section;
    margin-bottom: 50px;

    &__container {
        width: 70%;
        margin: 0 auto;
    }

    &-wrapper {
        display: flex;
        justify-content: flex-start;
        text-align: left;

        p {
            font-size: 1.8rem;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        img {
            margin-top: 20px;
            width: 50px;
            display: block;
            float: left;
        }
    }


    &__info {
        width: 45%;
    }

    &__send-email {
        width: 55%;
    }

    form {
        input[type=text] {
            height: 50px;
            width: 280px;
            margin-right: 10px;
            margin-bottom: 10px;
        }

        input[type=email] {
            height: 50px;
            width: 280px;
            margin-bottom: 10px;
        }

        textarea {
            width: 570px;
            height: 300px;
            resize: none;
            margin-bottom: 10px;
            padding-top: 10px;
        }

        input, textarea {
            background: #ccc;
            border: none;
            color: $mediumblue;
            @include fontStyle(14, $opensans);
            padding-left: 10px;

            &::placeholder {
                color: #222;
            }
        }

        input[type=submit] {
            width: 570px;
            height: 90px;
            background: $mediumblue;
            color: $white;
            @include fontStyle(24, $opensans);
            border: 1px solid $mediumblue;
            transition: 0.5s all ease;

            &:hover {
                background: $white;
                color: $mediumblue;
            }
        }

        input {
            border-radius: 0;
        }
    }
}

footer {
    background: $darkblue;
    color: $white;
    padding: 10px 0;
    p {
        @include fontStyle(14, $opensans);
        margin: 0;
    }

    .footer-wrapper {
        width: 70%;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;

        img {
            width: 10%;
            float: right;
        }

        .footer-copyright {
            padding-top: 5px;
            width: 95%;
        }

        .footer-image {
            padding-left: 30%;
        }
    }
}

@import 'media';
