article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'BebasNeue';
  src: url("../../fonts/BebasNeue-Regular.otf") format("opentype"); }

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  color: #222; }

a {
  text-decoration: none; }

h1 {
  font-size: 48px;
  font-size: 4.8rem;
  font-family: "BebasNeue", sans-serif;
  color: #EAEAEA;
  padding: 0;
  margin: 20px 0; }

h2 {
  font-size: 48px;
  font-size: 4.8rem;
  font-family: "BebasNeue", sans-serif; }

p {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif; }

body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background: #EAEAEA; }

.jumpTo {
  position: absolute;
  top: 0;
  left: -500px;
  width: 100px;
  height: 100px; }

header {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../../img/torontobg.jpg");
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/torontobg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center; }
  header .wrapper {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 195px; }
  header .logo-box {
    width: 195px;
    height: 195px;
    background: #b3cde0;
    text-align: center; }
    header .logo-box img {
      margin-top: 20px;
      width: 50%; }
    header .logo-box h2 {
      color: #011F4B;
      font-size: 25px;
      font-size: 2.5rem;
      font-family: "BebasNeue", sans-serif; }
  header .header-grid {
    display: grid;
    grid-template-columns: repeat(6, 195px);
    grid-template-rows: repeat(3, 195px); }
    header .header-grid .box {
      width: 100%;
      height: 100%;
      text-align: center;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      header .header-grid .box p {
        font-size: 1.8rem; }
      header .header-grid .box img {
        width: 100%;
        height: 100%; }
      header .header-grid .box .icon {
        margin-top: 30%;
        width: 25%;
        height: auto; }
    header .header-grid .box1 {
      grid-column: 1 / span 4;
      text-align: right;
      padding-right: 30px;
      text-shadow: 0px 0px 8px #222; }
      header .header-grid .box1 p {
        color: white; }
    header .header-grid .box2, header .header-grid .box5, header .header-grid .box13 {
      background: #03396c; }
      header .header-grid .box2:hover, header .header-grid .box5:hover, header .header-grid .box13:hover {
        z-index: 10;
        -webkit-box-shadow: 0px 0px 10px 3px #EAEAEA;
                box-shadow: 0px 0px 10px 3px #EAEAEA;
        background: #022c53; }
    header .header-grid .about-link, header .header-grid .skills-link, header .header-grid .contact-link {
      color: #b3cde0; }
    header .header-grid .box6 {
      background: #b3cde0; }
      header .header-grid .box6:hover {
        z-index: 10;
        -webkit-box-shadow: 0px 0px 10px 3px #EAEAEA;
                box-shadow: 0px 0px 10px 3px #EAEAEA;
        background: #8fb5d1; }
    header .header-grid .portfolio-link, header .header-grid .blog-link {
      color: #011F4B; }
    header .header-grid .box8, header .header-grid .box12 {
      background: #325C7B; }
      header .header-grid .box8 p, header .header-grid .box12 p {
        color: #b3cde0; }
    header .header-grid .box10 {
      grid-column: 1 / span 2; }

.nav-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 30;
  display: block;
  background: #011F4B;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.75); }
  .nav-wrapper nav {
    width: 70%;
    margin: 0 auto; }
    .nav-wrapper nav ul {
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .nav-wrapper nav ul li {
        margin-top: 5px;
        list-style-type: none;
        font-size: 18px;
        font-size: 1.8rem;
        font-family: "Open Sans", sans-serif; }
        .nav-wrapper nav ul li:first-of-type {
          color: #b3cde0;
          font-size: 48px;
          font-size: 4.8rem;
          font-family: "BebasNeue", sans-serif; }
        .nav-wrapper nav ul li img {
          margin-top: 12.5px;
          width: 30px; }
        .nav-wrapper nav ul li a {
          color: #b3cde0;
          -webkit-transition: 0.5s all ease;
          transition: 0.5s all ease; }
          .nav-wrapper nav ul li a:hover {
            border-bottom: 2px solid #b3cde0; }

main {
  position: relative; }

section {
  width: 100%; }
  section h2 img {
    width: 5.5%; }

.about-section {
  background: #325C7B;
  color: #EAEAEA; }
  .about-section__container {
    margin: 0 auto;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .about-section__image {
    width: 33.3%; }
    .about-section__image img {
      width: 100%;
      display: block; }
  .about-section__description {
    width: 66.7%;
    margin-left: 5%; }

.skills-section, .portfolio-section, .blog-section, .contact-section {
  margin-bottom: 50px; }
  .skills-section__container {
    margin: 0 auto;
    width: 70%; }
  .skills-section h2, .portfolio-section h2, .blog-section h2, .contact-section h2 {
    padding-top: 15px;
    margin-bottom: 5px; }
    .skills-section h2 img, .portfolio-section h2 img, .blog-section h2 img, .contact-section h2 img {
      width: 3.5%; }
  .skills-section p, .portfolio-section p, .blog-section p, .contact-section p {
    font-size: 2.5rem; }
  .skills-section__grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 60px;
    text-align: center; }
    .skills-section__grid img {
      width: 40%; }
      .skills-section__grid img.gulp-image {
        width: 16%; }
      .skills-section__grid img.sass-image {
        width: 48%; }
      .skills-section__grid img.firebase-image {
        width: 27%; }
      .skills-section__grid img.osx-image {
        width: 32.5%; }
      .skills-section__grid img.linux-image {
        width: 33%; }
    .skills-section__grid p {
      font-size: 18px; }

.portfolio-section {
  background: #325C7B;
  color: #EAEAEA;
  padding-top: 40px;
  padding-bottom: 50px; }
  .portfolio-section__container {
    width: 70%;
    margin: 0 auto; }
  .portfolio-section h2 {
    margin-top: 0;
    margin-bottom: 40px; }
  .portfolio-section p {
    font-size: 20px; }
  .portfolio-section__grid {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-template-rows: repeat(3, 1fr); }
    .portfolio-section__grid img {
      width: 100%;
      display: block; }
    .portfolio-section__grid__box-big {
      grid-column-start: 2;
      grid-row: 1 / span 3;
      text-align: left;
      padding-left: 20px;
      overflow: hidden;
      position: relative; }
    .portfolio-section__grid__box {
      overflow: hidden;
      position: relative;
      width: 195px;
      height: 195px;
      z-index: 20; }
      .portfolio-section__grid__box .portfolio-slider {
        -webkit-transition: 0.6s all ease;
        transition: 0.6s all ease; }
      .portfolio-section__grid__box .portfolio-title {
        width: 195px;
        height: 195px;
        text-align: center;
        background: #011F4B;
        color: #b3cde0;
        position: absolute;
        top: 0;
        left: 195px; }
        .portfolio-section__grid__box .portfolio-title h3 {
          font-size: 1.8rem; }
        .portfolio-section__grid__box .portfolio-title img {
          width: 30%;
          padding-top: 45px;
          margin: 0 auto; }

.portfolio-first-screen, .portfolio-notez, .portfolio-bikeshare, .portfolio-twitchfinder {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease; }

.portfolio-notez, .portfolio-bikeshare, .portfolio-twitchfinder {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 100%;
  background: #325C7B;
  padding-left: 20px; }
  .portfolio-notez h3, .portfolio-bikeshare h3, .portfolio-twitchfinder h3 {
    font-size: 36px;
    font-size: 3.6rem;
    font-family: "BebasNeue", sans-serif; }
  .portfolio-notez a, .portfolio-bikeshare a, .portfolio-twitchfinder a {
    color: #325C7B;
    -webkit-transition: 0.6s all ease;
    transition: 0.6s all ease; }
    .portfolio-notez a:hover, .portfolio-bikeshare a:hover, .portfolio-twitchfinder a:hover {
      color: #EAEAEA; }
    .portfolio-notez a .button, .portfolio-bikeshare a .button, .portfolio-twitchfinder a .button {
      width: 100px;
      height: 100px;
      background: #EAEAEA;
      border: 1px #EAEAEA solid;
      -webkit-transition: 0.6s all ease;
      transition: 0.6s all ease;
      text-align: center;
      float: left;
      margin-right: 10px; }
      .portfolio-notez a .button h4, .portfolio-bikeshare a .button h4, .portfolio-twitchfinder a .button h4 {
        font-size: 2.5rem;
        padding-top: 15px;
        margin: 0; }
      .portfolio-notez a .button p, .portfolio-bikeshare a .button p, .portfolio-twitchfinder a .button p {
        font-size: 1.4rem; }
      .portfolio-notez a .button:hover, .portfolio-bikeshare a .button:hover, .portfolio-twitchfinder a .button:hover {
        background: #325C7B; }

.contact-section {
  margin-bottom: 50px; }
  .contact-section__container {
    width: 70%;
    margin: 0 auto; }
  .contact-section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left; }
    .contact-section-wrapper h3 {
      font-size: 30px;
      font-size: 3rem;
      font-family: "BebasNeue", sans-serif; }
    .contact-section-wrapper p {
      font-size: 1.8rem;
      margin-top: 5px;
      margin-bottom: 5px; }
    .contact-section-wrapper img {
      margin-top: 20px;
      width: 50px;
      display: block;
      float: left; }
  .contact-section__info {
    width: 45%; }
  .contact-section__send-email {
    width: 55%; }
  .contact-section form input[type=text] {
    height: 50px;
    width: 280px;
    margin-right: 10px;
    margin-bottom: 10px; }
  .contact-section form input[type=email] {
    height: 50px;
    width: 280px;
    margin-bottom: 10px; }
  .contact-section form textarea {
    width: 360px;
    height: 90px;
    resize: none;
    margin-right: 10px;
    padding-top: 10px; }
  .contact-section form input, .contact-section form textarea {
    background: #ccc;
    border: none;
    color: #03396c;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
    padding-left: 10px; }
    .contact-section form input::-webkit-input-placeholder, .contact-section form textarea::-webkit-input-placeholder {
      color: #222; }
    .contact-section form input:-ms-input-placeholder, .contact-section form textarea:-ms-input-placeholder {
      color: #222; }
    .contact-section form input::-ms-input-placeholder, .contact-section form textarea::-ms-input-placeholder {
      color: #222; }
    .contact-section form input::placeholder, .contact-section form textarea::placeholder {
      color: #222; }
  .contact-section form input[type=submit] {
    width: 200px;
    height: 90px;
    background: #03396c;
    color: #EAEAEA;
    font-size: 18px;
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease; }
    .contact-section form input[type=submit]:hover {
      background: #b3cde0;
      color: #03396c; }

footer {
  background: #011F4B;
  color: #EAEAEA;
  padding: 10px 0; }
  footer p {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
    margin: 0; }
  footer .footer-wrapper {
    width: 70%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    footer .footer-wrapper img {
      width: 10%;
      float: right; }
    footer .footer-wrapper .footer-copyright {
      padding-top: 5px;
      width: 95%; }
    footer .footer-wrapper .footer-image {
      padding-left: 30%; }
