article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'BebasNeue';
  src: url("../../fonts/BebasNeue-Regular.otf") format("opentype"); }

html {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  color: #222; }

a {
  text-decoration: none; }

h1 {
  font-size: 48px;
  font-size: 4.8rem;
  font-family: "BebasNeue", sans-serif;
  color: #EAEAEA;
  padding: 0;
  margin: 20px 0; }

h2 {
  font-size: 48px;
  font-size: 4.8rem;
  font-family: "BebasNeue", sans-serif; }

p {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif; }

body {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  background: #EAEAEA; }

.jumpTo {
  position: absolute;
  top: 0;
  left: -500px;
  width: 100px;
  height: 100px; }

header {
  background-repeat: no-repeat;
  background-position: top center;
  height: 100vh;
  position: relative; }
  header .language-select {
    position: absolute;
    top: 3%;
    right: 12.5%; }
    header .language-select select {
      background: #b3cde0;
      border-radius: 0;
      border: none;
      color: #011F4B;
      padding: 5px 10px;
      text-align: center;
      font-size: 1.2rem;
      font-weight: bold; }
      header .language-select select option {
        font-weight: bold; }
  header .wrapper {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 195px; }
  header .logo-box,
  header .box0 {
    width: 195px;
    height: 195px;
    background: #b3cde0;
    text-align: center; }
    header .logo-box img,
    header .box0 img {
      margin-top: 20px;
      width: 75%; }
    header .logo-box h2,
    header .box0 h2 {
      color: #011F4B;
      font-size: 25px;
      font-size: 2.5rem;
      font-family: "BebasNeue", sans-serif; }
  header .header-grid {
    display: grid;
    grid-template-columns: repeat(6, 195px);
    grid-template-rows: repeat(3, 195px); }
    header .header-grid .box {
      width: 100%;
      height: 100%;
      text-align: center;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      header .header-grid .box p {
        font-size: 1.8rem; }
      header .header-grid .box img {
        width: 100%; }
      header .header-grid .box .icon {
        margin-top: 30%;
        width: 25%;
        height: auto; }
    header .header-grid .box0 {
      display: none; }
    header .header-grid .box1 {
      grid-column: 1 / span 4;
      text-align: right;
      padding-right: 30px;
      text-shadow: 0px 0px 8px #222; }
      header .header-grid .box1 p {
        color: white; }
    header .header-grid .box2,
    header .header-grid .box5,
    header .header-grid .box13 {
      background: #03396c; }
      header .header-grid .box2:hover,
      header .header-grid .box5:hover,
      header .header-grid .box13:hover {
        z-index: 10;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        -webkit-box-shadow: 0px 0px 10px 3px #EAEAEA;
                box-shadow: 0px 0px 10px 3px #EAEAEA;
        background: #022c53; }
    header .header-grid .about-link,
    header .header-grid .skills-link,
    header .header-grid .contact-link {
      color: #b3cde0; }
    header .header-grid .box6 {
      background: #b3cde0; }
      header .header-grid .box6:hover {
        z-index: 10;
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
        -webkit-box-shadow: 0px 0px 10px 3px #EAEAEA;
                box-shadow: 0px 0px 10px 3px #EAEAEA;
        background: #8fb5d1; }
    header .header-grid .portfolio-link,
    header .header-grid .blog-link {
      color: #011F4B; }
    header .header-grid .box8,
    header .header-grid .box12 {
      background: #325C7B; }
      header .header-grid .box8 p,
      header .header-grid .box12 p {
        color: #b3cde0; }
    header .header-grid .box10 {
      grid-column: 1 / span 2; }

.nav-wrapper {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 30;
  display: block;
  background: #011F4B;
  border-top: 1px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA;
  -webkit-box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.75); }
  .nav-wrapper nav {
    width: 70%;
    margin: 0 auto; }
    .nav-wrapper nav ul {
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .nav-wrapper nav ul li {
        margin-top: 5px;
        list-style-type: none;
        font-size: 30px;
        font-size: 3rem;
        font-family: "Open Sans", sans-serif; }
        .nav-wrapper nav ul li:first-of-type {
          color: #b3cde0;
          font-size: 48px;
          font-size: 4.8rem;
          font-family: "BebasNeue", sans-serif; }
        .nav-wrapper nav ul li img {
          margin-top: 12.5px;
          width: 30px; }
        .nav-wrapper nav ul li a {
          color: #b3cde0; }
      .nav-wrapper nav ul .title {
        margin-top: -7px; }
      .nav-wrapper nav ul .menu {
        -webkit-transition: 0.3s all ease-in-out;
        transition: 0.3s all ease-in-out;
        margin-bottom: 10px; }
        .nav-wrapper nav ul .menu:hover {
          margin-bottom: 8px;
          border-bottom: 2px solid #b3cde0; }
      .nav-wrapper nav ul .menu div {
        float: left; }
        .nav-wrapper nav ul .menu div:last-of-type {
          margin-top: 5px;
          margin-left: 10px; }

main {
  position: relative; }
  main .top-link {
    width: 70px;
    height: 70px;
    background: #011F4B;
    color: #b3cde0;
    text-align: center;
    z-index: 100;
    -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    main .top-link:hover {
      z-index: 110;
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }
    main .top-link img {
      margin-top: 5px;
      width: 50%; }
    main .top-link p {
      font-size: 18px;
      font-size: 1.8rem;
      font-family: "BebasNeue", sans-serif;
      margin: 0; }

section {
  width: 100%; }
  section h2 img {
    width: 5.5%; }

.destination {
  position: absolute;
  z-index: -1;
  left: 0;
  margin-top: -64px; }

.about-section {
  background: #325C7B;
  color: #EAEAEA;
  padding-top: 20px;
  padding-bottom: 20px; }
  .about-section__container {
    margin: 0 auto;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .about-section__image {
    width: 30.7%;
    margin: 3% auto; }
    .about-section__image img {
      width: 100%;
      display: block; }
  .about-section__description {
    width: 50.95%;
    margin-left: 5%; }

.skills-section, .portfolio-section, .contact-section {
  margin-bottom: 50px; }
  .skills-section__container {
    margin: 0 auto;
    width: 70%; }
  .skills-section h2, .portfolio-section h2, .contact-section h2 {
    padding-top: 15px;
    margin-bottom: 5px; }
    .skills-section h2 img, .portfolio-section h2 img, .contact-section h2 img {
      width: 3.5%; }
  .skills-section p, .portfolio-section p, .contact-section p {
    font-size: 2.5rem; }
  .skills-section__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    margin-top: 60px;
    text-align: center; }
    .skills-section__grid__box1 {
      grid-column: 5;
      grid-row: 4; }
    .skills-section__grid__box2 {
      grid-column: 1;
      grid-row: 4; }
    .skills-section__grid__box3 {
      grid-column: 1;
      grid-row: 3; }
    .skills-section__grid__box4 {
      grid-column: 2;
      grid-row: 3; }
    .skills-section__grid__box5 {
      grid-column: 1;
      grid-row: 1; }
    .skills-section__grid__box6 {
      grid-column: 1;
      grid-row: 5; }
    .skills-section__grid__box7 {
      grid-column: 2;
      grid-row: 4; }
    .skills-section__grid__box8 {
      grid-column: 3;
      grid-row: 3; }
    .skills-section__grid__box9 {
      grid-column: 2;
      grid-row: 5; }
    .skills-section__grid__box10 {
      grid-column: 3;
      grid-row: 5; }
    .skills-section__grid__box11 {
      grid-column: 4;
      grid-row: 5; }
    .skills-section__grid__box12 {
      grid-column: 5;
      grid-row: 5; }
    .skills-section__grid__box13 {
      grid-column: 4;
      grid-row: 4; }
    .skills-section__grid__box14 {
      grid-column: 4;
      grid-row: 1; }
    .skills-section__grid__box15 {
      grid-column: 4;
      grid-row: 2; }
    .skills-section__grid__box16 {
      grid-column: 5;
      grid-row: 1; }
    .skills-section__grid__box17 {
      grid-column: 3;
      grid-row: 1; }
    .skills-section__grid__box18 {
      grid-column: 1;
      grid-row: 2; }
    .skills-section__grid__box19 {
      grid-column: 5;
      grid-row: 3; }
    .skills-section__grid__box20 {
      grid-column: 3;
      grid-row: 4; }
    .skills-section__grid__box21 {
      grid-column: 2;
      grid-row: 1; }
    .skills-section__grid__box22 {
      grid-column: 5;
      grid-row: 2; }
    .skills-section__grid__box23 {
      grid-column: 4;
      grid-row: 3; }
    .skills-section__grid__box24 {
      grid-column: 2;
      grid-row: 2; }
    .skills-section__grid__box25 {
      grid-column: 3;
      grid-row: 2; }
    .skills-section__grid div {
      padding-top: 5%;
      z-index: 1;
      position: relative;
      overflow: hidden; }
      .skills-section__grid div::before {
        content: "";
        z-index: -1;
        position: absolute;
        bottom: 100%;
        right: 100%;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        background-color: #b3cde0;
        -webkit-transform-origin: center;
                transform-origin: center;
        -webkit-transform: translate(50%, 50%) scale(0);
                transform: translate(50%, 50%) scale(0);
        -webkit-transition: -webkit-transform 0.45s ease-in-out;
        transition: -webkit-transform 0.45s ease-in-out;
        transition: transform 0.45s ease-in-out;
        transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out; }
      .skills-section__grid div:hover {
        cursor: pointer; }
        .skills-section__grid div:hover::before {
          -webkit-transform: translate(50%, 50%) scale(50);
                  transform: translate(50%, 50%) scale(50); }
    .skills-section__grid img {
      height: 6.5rem; }
    .skills-section__grid p {
      font-size: 18px; }

.portfolio-section {
  background: #325C7B;
  color: #EAEAEA;
  padding-top: 40px;
  padding-bottom: 50px; }
  .portfolio-section__container {
    width: 70%;
    margin: 0 auto; }
  .portfolio-section h2 {
    margin-top: 0;
    margin-bottom: 40px; }
  .portfolio-section p {
    font-size: 20px; }
  .portfolio-section__grid-new {
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px; }
    .portfolio-section__grid-new__box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-bottom: 50px;
      -webkit-box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75);
              box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.75); }
      .portfolio-section__grid-new__box--image {
        width: 45%;
        margin-top: 5%;
        padding-left: 3%; }
        .portfolio-section__grid-new__box--image img {
          width: 100%; }
      .portfolio-section__grid-new__box--description {
        width: 55%;
        padding-right: 5%; }
      .portfolio-section__grid-new__box h3 {
        font-size: 40px;
        font-size: 4rem;
        font-family: "BebasNeue", sans-serif;
        margin-bottom: 0;
        padding-bottom: 0; }
      .portfolio-section__grid-new__box h4 {
        margin-top: 0;
        font-size: 14px;
        font-size: 1.4rem;
        font-family: "Open Sans", sans-serif; }
      .portfolio-section__grid-new__box p {
        font-size: 18px;
        font-size: 1.8rem;
        font-family: "Open Sans", sans-serif; }
      .portfolio-section__grid-new__box a {
        color: #325C7B;
        -webkit-transition: 0.6s all ease;
        transition: 0.6s all ease; }
        .portfolio-section__grid-new__box a:hover {
          color: #EAEAEA; }
        .portfolio-section__grid-new__box a .button {
          width: 100px;
          height: 100px;
          background: #EAEAEA;
          border: 1px #EAEAEA solid;
          -webkit-transition: 0.6s all ease;
          transition: 0.6s all ease;
          text-align: center;
          float: left;
          margin-right: 10px; }
          .portfolio-section__grid-new__box a .button h4 {
            font-size: 2.5rem;
            padding-top: 15px;
            margin: 0; }
          .portfolio-section__grid-new__box a .button p {
            font-size: 1.4rem; }
          .portfolio-section__grid-new__box a .button:hover {
            background: #325C7B; }
    .portfolio-section__grid-new__box1, .portfolio-section__grid-new__box4, .portfolio-section__grid-new__box5 {
      background: #011F4B;
      color: #b3cde0; }
      .portfolio-section__grid-new__box1 a, .portfolio-section__grid-new__box4 a, .portfolio-section__grid-new__box5 a {
        color: #011F4B; }
        .portfolio-section__grid-new__box1 a .button, .portfolio-section__grid-new__box4 a .button, .portfolio-section__grid-new__box5 a .button {
          background: #b3cde0;
          border: 1px solid #b3cde0; }
          .portfolio-section__grid-new__box1 a .button:hover, .portfolio-section__grid-new__box4 a .button:hover, .portfolio-section__grid-new__box5 a .button:hover {
            background: #011F4B;
            color: #b3cde0; }
    .portfolio-section__grid-new__box2, .portfolio-section__grid-new__box3, .portfolio-section__grid-new__box6, .portfolio-section__grid-new__box7 {
      background: #b3cde0;
      color: #011F4B; }
      .portfolio-section__grid-new__box2 a, .portfolio-section__grid-new__box3 a, .portfolio-section__grid-new__box6 a, .portfolio-section__grid-new__box7 a {
        color: #b3cde0; }
        .portfolio-section__grid-new__box2 a .button, .portfolio-section__grid-new__box3 a .button, .portfolio-section__grid-new__box6 a .button, .portfolio-section__grid-new__box7 a .button {
          background: #011F4B;
          border: 1px solid #011F4B; }
          .portfolio-section__grid-new__box2 a .button:hover, .portfolio-section__grid-new__box3 a .button:hover, .portfolio-section__grid-new__box6 a .button:hover, .portfolio-section__grid-new__box7 a .button:hover {
            background: #b3cde0;
            color: #011F4B; }

.portfolio-first-screen img {
  width: 10%;
  margin-left: 20px;
  margin-top: 50px; }
  .portfolio-first-screen img.upArrow {
    display: none; }

.portfolio-first-screen,
.portfolio-notez,
.portfolio-bikeshare,
.portfolio-twitchfinder {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.6s all ease;
  transition: 0.6s all ease; }

.portfolio-notez,
.portfolio-bikeshare,
.portfolio-twitchfinder {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 100%;
  background: #325C7B;
  padding-left: 20px; }
  .portfolio-notez h3,
  .portfolio-bikeshare h3,
  .portfolio-twitchfinder h3 {
    font-size: 36px;
    font-size: 3.6rem;
    font-family: "BebasNeue", sans-serif; }
  .portfolio-notez a,
  .portfolio-bikeshare a,
  .portfolio-twitchfinder a {
    color: #325C7B;
    -webkit-transition: 0.6s all ease;
    transition: 0.6s all ease; }
    .portfolio-notez a:hover,
    .portfolio-bikeshare a:hover,
    .portfolio-twitchfinder a:hover {
      color: #EAEAEA; }
    .portfolio-notez a .button,
    .portfolio-bikeshare a .button,
    .portfolio-twitchfinder a .button {
      width: 100px;
      height: 100px;
      background: #EAEAEA;
      border: 1px #EAEAEA solid;
      -webkit-transition: 0.6s all ease;
      transition: 0.6s all ease;
      text-align: center;
      float: left;
      margin-right: 10px; }
      .portfolio-notez a .button h4,
      .portfolio-bikeshare a .button h4,
      .portfolio-twitchfinder a .button h4 {
        font-size: 2.5rem;
        padding-top: 15px;
        margin: 0; }
      .portfolio-notez a .button p,
      .portfolio-bikeshare a .button p,
      .portfolio-twitchfinder a .button p {
        font-size: 1.4rem; }
      .portfolio-notez a .button:hover,
      .portfolio-bikeshare a .button:hover,
      .portfolio-twitchfinder a .button:hover {
        background: #325C7B; }

.contact-section {
  margin-bottom: 50px; }
  .contact-section__container {
    width: 70%;
    margin: 0 auto; }
  .contact-section-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left; }
    .contact-section-wrapper p {
      font-size: 1.8rem;
      margin-top: 5px;
      margin-bottom: 5px; }
    .contact-section-wrapper img {
      margin-top: 20px;
      width: 50px;
      display: block;
      float: left; }
  .contact-section__info {
    width: 45%; }
  .contact-section__send-email {
    width: 55%; }
  .contact-section form input[type="text"] {
    height: 50px;
    width: 280px;
    margin-right: 10px;
    margin-bottom: 10px; }
  .contact-section form input[type="email"] {
    height: 50px;
    width: 280px;
    margin-bottom: 10px; }
  .contact-section form textarea {
    width: 570px;
    height: 300px;
    resize: none;
    margin-bottom: 10px;
    padding-top: 10px; }
  .contact-section form input,
  .contact-section form textarea {
    background: #ccc;
    border: none;
    color: #03396c;
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
    padding-left: 10px; }
    .contact-section form input::-webkit-input-placeholder,
    .contact-section form textarea::-webkit-input-placeholder {
      color: #222; }
    .contact-section form input:-ms-input-placeholder,
    .contact-section form textarea:-ms-input-placeholder {
      color: #222; }
    .contact-section form input::-ms-input-placeholder,
    .contact-section form textarea::-ms-input-placeholder {
      color: #222; }
    .contact-section form input::placeholder,
    .contact-section form textarea::placeholder {
      color: #222; }
  .contact-section form input[type="submit"] {
    width: 570px;
    height: 90px;
    background: #03396c;
    color: #EAEAEA;
    font-size: 24px;
    font-size: 2.4rem;
    font-family: "Open Sans", sans-serif;
    border: 1px solid #03396c;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .contact-section form input[type="submit"]:hover {
      background: none;
      color: #03396c; }
  .contact-section form input {
    border-radius: 0; }

footer {
  background: #011F4B;
  color: #EAEAEA;
  padding: 10px 0; }
  footer p {
    font-size: 14px;
    font-size: 1.4rem;
    font-family: "Open Sans", sans-serif;
    margin: 0; }
  footer .footer-wrapper {
    width: 70%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    footer .footer-wrapper img {
      width: 10%;
      float: right; }
    footer .footer-wrapper .footer-copyright {
      padding-top: 5px;
      width: 95%; }
    footer .footer-wrapper .footer-image {
      padding-left: 30%; }

@media (max-width: 1502px) {
  .contact-section form input[type=text], .contact-section form input[type=email] {
    width: 250px; }
  .contact-section form textarea {
    width: 300px; } }

@media (max-width: 1400px) {
  header {
    height: 100vh; }
    header .logo-box,
    header .box0 {
      width: 150px;
      height: 150px; }
      header .logo-box h2,
      header .box0 h2 {
        font-size: 2rem; }
    header .header-grid {
      margin-left: 150px;
      margin-top: 75px;
      grid-template-columns: repeat(6, 150px);
      grid-template-rows: repeat(3, 150px); }
      header .header-grid .box p {
        font-size: 1.5rem; } }

@media (max-width: 1280px) {
  header .header-grid {
    margin-left: 0;
    margin-top: 0; }
  .contact-section form input[type=text], .contact-section form input[type=email] {
    width: 200px; }
  .contact-section form textarea {
    width: 240px; }
  .contact-section form input[type="submit"] {
    width: 160px; } }

@media (max-width: 1024px) {
  header .logo-box {
    width: 120px;
    height: 120px; }
    header .logo-box img {
      margin-top: 10px; }
  header .header-grid {
    margin-top: 120px;
    grid-template-columns: repeat(6, 120px);
    grid-template-rows: repeat(3, 120px);
    margin-left: 30px; }
    header .header-grid .box1 h1 {
      font-size: 3rem; }
    header .header-grid .box .icon {
      margin-top: 30px; }
  section h2 img {
    width: 9%; }
  .skills-section h2 img, .portfolio-section h2 img, .contact-section h2 img {
    width: 6%; }
  .contact-section form input[type=text], .contact-section form input[type=email] {
    width: 170px; }
  .contact-section form textarea {
    width: 350px;
    margin-bottom: 10px; }
  .contact-section form input[type="submit"] {
    width: 350px; } }

@media (max-width: 768px) {
  header {
    height: 100vh;
    background-position: left; }
    header .logo-box {
      width: 195px;
      height: 195px; }
      header .logo-box img {
        margin-top: 20px; }
      header .logo-box h2 {
        font-size: 2.5rem; }
    header .wrapper {
      padding-bottom: 0; }
    header .header-grid {
      margin-top: 140px;
      grid-template-columns: repeat(4, 120px);
      grid-template-rows: repeat(4, 120px); }
      header .header-grid .box1 {
        grid-column: 1 / span 3; }
      header .header-grid .box12 {
        grid-row: 3;
        grid-column: 4; }
      header .header-grid .box4 {
        grid-row: 2;
        grid-column: 3; }
      header .header-grid .box5 {
        grid-row: 2;
        grid-column: 2; }
      header .header-grid .box10 {
        grid-column: 1; }
  .nav-wrapper nav {
    width: 90%; }
    .nav-wrapper nav ul {
      padding-left: 15px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .nav-wrapper nav ul li {
        margin-bottom: 10px;
        margin-right: 50px;
        font-size: 1.5rem; }
        .nav-wrapper nav ul li img {
          width: 15px; }
        .nav-wrapper nav ul li:first-of-type {
          font-size: 3rem;
          margin-bottom: 0; }
  section h2 img {
    width: 10%; }
  .about-section__container {
    width: 90%; }
  .about-section__image {
    width: 40%;
    margin-top: 30px; }
  .about-section__description {
    width: 60%; }
  .skills-section__container {
    width: 90%; }
  .skills-section h2 img, .portfolio-section h2 img, .contact-section h2 img {
    width: 7.5%; }
  .portfolio-section__container {
    width: 90%; }
  .contact-section__container {
    width: 90%; }
  .contact-section form input[type=text], .contact-section form input[type=email] {
    width: 350px; }
  .contact-section form textarea {
    height: 69px; }
  .contact-section form input[type="submit"] {
    width: 250px;
    height: 70px; } }

@media (max-width: 414px) {
  header {
    height: auto;
    background-image: none;
    background: #EAEAEA; }
    header .wrapper {
      width: 100%;
      padding-bottom: 0; }
    header .logo-box {
      display: none; }
    header .header-grid {
      margin: 0;
      padding: 0;
      grid-template-columns: repeat(4, 103.5px);
      grid-template-rows: 103.5px; }
      header .header-grid .box0 {
        display: block;
        width: 100%;
        height: auto; }
        header .header-grid .box0 img {
          width: 90%;
          margin-top: 5px; }
      header .header-grid .box1, header .header-grid .box2, header .header-grid .box3, header .header-grid .box4, header .header-grid .box5, header .header-grid .box6, header .header-grid .box10, header .header-grid .box11, header .header-grid .box12, header .header-grid .box13, header .header-grid .box14, header .header-grid a {
        display: none; }
      header .header-grid .box p {
        font-size: 1.5rem; }
      header .header-grid .box8 .icon {
        margin-top: 20px; }
  .nav-wrapper nav {
    width: 100%; }
    .nav-wrapper nav ul {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 45px; }
      .nav-wrapper nav ul li {
        font-size: 1.0rem;
        padding-bottom: 10px;
        margin-right: 0; }
        .nav-wrapper nav ul li:first-of-type {
          font-size: 1.4rem;
          margin-left: -20px;
          width: 425px;
          padding-bottom: 0; }
        .nav-wrapper nav ul li img {
          width: 20%; }
  main .top-link {
    position: fixed;
    bottom: 45px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 1000; }
    main .top-link img {
      width: 40%; }
    main .top-link p {
      font-size: 1.2rem; }
  section h2 img {
    width: 10%; }
  .about-section {
    padding-top: 10px;
    padding-bottom: 10px; }
    .about-section__container {
      width: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .about-section__image {
      width: 90%;
      margin: 0 auto;
      margin-bottom: 20px; }
    .about-section__description {
      width: 80%;
      margin: 0 auto;
      padding-right: 10px; }
      .about-section__description h2 {
        margin-top: 10px;
        margin-bottom: 5px; }
  h2 {
    font-size: 2.8rem; }
  p {
    font-size: 1.2rem; }
  .skills-section, .portfolio-section, .contact-section {
    margin-bottom: 30px; }
    .skills-section__container {
      width: 95%; }
    .skills-section h2 img, .portfolio-section h2 img, .contact-section h2 img {
      width: 7%; }
    .skills-section p, .portfolio-section p, .contact-section p {
      font-size: 1.4rem; }
    .skills-section__grid {
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-gap: 5px;
      margin-top: 30px; }
      .skills-section__grid__box img {
        height: 3rem; }
      .skills-section__grid p {
        font-size: 1rem; }
  .portfolio-section {
    background: #325C7B;
    color: #EAEAEA;
    padding-top: 40px;
    padding-bottom: 10px; }
    .portfolio-section__container {
      width: 95%;
      margin: 0 auto; }
    .portfolio-section__grid-new__box--description > p {
      display: none; }
    .portfolio-section__grid-new {
      margin: 0 auto;
      width: 85%;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-gap: 20px; }
      .portfolio-section__grid-new__box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-bottom: 20px; }
        .portfolio-section__grid-new__box--image {
          width: 45%;
          margin-top: 5%;
          padding-left: 3%; }
          .portfolio-section__grid-new__box--image img {
            width: 100%; }
        .portfolio-section__grid-new__box--description {
          width: 55%;
          padding-right: 5%; }
        .portfolio-section__grid-new__box h3 {
          font-size: 30px;
          font-size: 3rem;
          font-family: "BebasNeue", sans-serif;
          margin-bottom: 0;
          padding-bottom: 0; }
        .portfolio-section__grid-new__box h4 {
          margin-top: 0;
          font-size: 14px;
          font-size: 1.4rem;
          font-family: "Open Sans", sans-serif; }
        .portfolio-section__grid-new__box p {
          font-size: 18px;
          font-size: 1.8rem;
          font-family: "Open Sans", sans-serif; }
        .portfolio-section__grid-new__box a {
          color: #325C7B;
          -webkit-transition: 0.6s all ease;
          transition: 0.6s all ease; }
          .portfolio-section__grid-new__box a:hover {
            color: #EAEAEA; }
          .portfolio-section__grid-new__box a .button {
            width: 60px;
            height: 60px;
            background: #EAEAEA;
            border: 1px #EAEAEA solid;
            -webkit-transition: 0.6s all ease;
            transition: 0.6s all ease;
            text-align: center;
            float: left;
            margin-right: 10px; }
            .portfolio-section__grid-new__box a .button h4 {
              font-size: 2.5rem;
              padding-top: 5px;
              margin: 0; }
            .portfolio-section__grid-new__box a .button p {
              font-size: 0.9rem;
              margin-top: -3px; }
            .portfolio-section__grid-new__box a .button:hover {
              background: #325C7B; }
      .portfolio-section__grid-new__box1, .portfolio-section__grid-new__box3, .portfolio-section__grid-new__box5 {
        background: #011F4B;
        color: #b3cde0; }
        .portfolio-section__grid-new__box1 a, .portfolio-section__grid-new__box3 a, .portfolio-section__grid-new__box5 a {
          color: #011F4B; }
          .portfolio-section__grid-new__box1 a .button, .portfolio-section__grid-new__box3 a .button, .portfolio-section__grid-new__box5 a .button {
            background: #b3cde0;
            border: 1px solid #b3cde0; }
            .portfolio-section__grid-new__box1 a .button:hover, .portfolio-section__grid-new__box3 a .button:hover, .portfolio-section__grid-new__box5 a .button:hover {
              background: #011F4B;
              color: #b3cde0; }
      .portfolio-section__grid-new__box2, .portfolio-section__grid-new__box4, .portfolio-section__grid-new__box6 {
        background: #b3cde0;
        color: #011F4B; }
        .portfolio-section__grid-new__box2 a, .portfolio-section__grid-new__box4 a, .portfolio-section__grid-new__box6 a {
          color: #b3cde0; }
          .portfolio-section__grid-new__box2 a .button, .portfolio-section__grid-new__box4 a .button, .portfolio-section__grid-new__box6 a .button {
            background: #011F4B;
            border: 1px solid #011F4B; }
            .portfolio-section__grid-new__box2 a .button:hover, .portfolio-section__grid-new__box4 a .button:hover, .portfolio-section__grid-new__box6 a .button:hover {
              background: #b3cde0;
              color: #011F4B; }
  .contact-section {
    margin-bottom: 15px; }
    .contact-section__container {
      width: 95%; }
    .contact-section-wrapper p {
      font-size: 1.2rem; }
    .contact-section-wrapper img {
      width: 25px; }
    .contact-section form input[type="text"] {
      width: 100px;
      height: 30px; }
    .contact-section form input[type="email"] {
      width: 100px;
      height: 30px; }
    .contact-section form textarea {
      width: 215px;
      padding-top: 5px; }
    .contact-section form input,
    .contact-section form textarea {
      font-size: 1.2rem;
      padding-left: 5px; }
    .contact-section form input[type="submit"] {
      width: 155px;
      height: 45px;
      margin-top: 10px;
      font-size: 1.8rem; }
  footer {
    padding: 5px 0; }
    footer p {
      font-size: 1rem; }
    footer .footer-wrapper {
      width: 95%; }
      footer .footer-wrapper img {
        width: 7.5%; }
    footer .footer-copyright {
      width: 100%;
      margin-right: -50px;
      padding-top: 0; } }

@media (max-width: 412px) {
  header .header-grid {
    grid-template-columns: repeat(4, 103px);
    grid-template-rows: 103px; } }

@media (max-width: 384px) {
  header {
    height: auto; }
    header .header-grid {
      grid-template-columns: repeat(4, 96px);
      grid-template-rows: 96px; }
      header .header-grid .box8 .icon {
        margin-top: 17.5px; }
  .nav-wrapper nav ul li {
    margin-left: -15px; }
    .nav-wrapper nav ul li:first-of-type {
      margin-left: -30px; }
    .nav-wrapper nav ul li:last-child {
      margin-left: 5px; }
  .about-section__image {
    margin-top: 45px; }
  .contact-section form input[type=text], .contact-section form input[type=email] {
    width: 90px; }
  .contact-section form input,
  .contact-section form textarea {
    font-size: 1.1rem; }
  .contact-section form textarea {
    width: 193px; }
  .contact-section form input[type="submit"] {
    width: 145px; } }

@media (max-width: 375px) {
  header .header-grid {
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(4, 93.75px);
    grid-template-rows: 93.75px; }
  .nav-wrapper nav ul li {
    margin-left: -15px; }
    .nav-wrapper nav ul li:first-of-type {
      margin-left: -30px; }
    .nav-wrapper nav ul li:last-child {
      margin-left: 5px; }
  .about-section__image {
    margin-top: 55px; }
  .contact-section-wrapper p {
    font-size: 1.1rem; }
  .contact-section form input[type="text"] {
    width: 90px;
    margin-right: 5px;
    margin-bottom: 5px; }
  .contact-section form input[type="email"] {
    width: 90px;
    margin-bottom: 5px; }
  .contact-section form textarea {
    width: 190px; }
  .contact-section form input[type="submit"] {
    width: 140px; } }

@media (max-width: 360px) {
  header {
    height: auto; }
    header .header-grid {
      margin: 0;
      padding: 0;
      grid-template-columns: repeat(4, 90px);
      grid-template-rows: 90px; }
  .nav-wrapper nav ul li {
    margin-left: 15px; }
    .nav-wrapper nav ul li:first-of-type {
      margin-left: -35px; }
    .nav-wrapper nav ul li:last-child {
      margin-left: 15px; }
  .about-section__image {
    margin-top: 60px; }
  .contact-section form input[type=text], .contact-section form input[type=email] {
    width: 85px; }
  .contact-section form textarea {
    width: 180px; }
  .contact-section form input[type=text], .contact-section form input[type=email], .contact-section form textarea {
    font-size: 1.1rem; }
  .contact-section form input[type="submit"] {
    width: 130px; }
  footer .footer-copyright {
    margin-right: -300px; } }

@media (max-width: 320px) {
  header .header-grid {
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: 80px;
    margin: 0;
    padding: 0; }
    header .header-grid .box0 h2 {
      font-size: 1.4rem; }
    header .header-grid .box8 p {
      font-size: 1.2rem;
      margin-top: 10px; }
  .nav-wrapper nav ul li {
    font-size: 1rem; }
    .nav-wrapper nav ul li:first-of-type {
      margin-left: -35px; }
  .about-section__image {
    margin-top: 80px; }
  .contact-section form textarea {
    width: 155px; }
  .contact-section form input[type=text], .contact-section form input[type=email] {
    width: 155px; }
  .contact-section form input[type="submit"] {
    width: 110px; }
  footer .footer-copyright {
    margin-right: -100px; } }
